@page "/"
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-toggleable-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img id="main-logo" src="images/t5f-logo-white.svg" alt="The Fifth Floor"></a>
        </div>
    </nav>
</header>
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col text-center"><h1>We're Hiring!</h1><p class="lead">The 5th Floor Program Management is seeking talent for the following key positions:</p></div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Software Solution Director</h5>
                        <h6 class="card-subtitle mb-3">Orlando, FL</h6>
                        <NavLink href="Software_solution_director" class="card-link stretched-link">Read Full Description &rarr;</NavLink>
                    </div>
                </div>
            </div>
            <!-- uncomment and replicate block below as needed for additional positions  -->
            <!-- <div class="col-xs-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Software Solution Director</h5>
                        <h6 class="card-subtitle mb-3">Orlando, FL</h6>
                        <a href="#" class="card-link stretched-link">Read Full Description &rarr;</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>