@page "/Software_solution_director"

<section id="job-posting">
    <div class="container">
        <div class="row">
            <div class="col"><h1 class="h2">Careers</h1></div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-7">
                <h2 class="h3 pb-1">Software Solution Director</h2>
                <p class="justify">
                    Fifth Floor Program Management, LLC is seeking a full-time Software Solution Director to create custom tools and applications that will be leveraged in the real estate industry. You will be providing full life cycle software development, technical analysis and direction for internal projects, and will work in a team-oriented environment developing, designing, and maintaining multiple projects.
                </p>
                <h3 class="h6 pt-2">Responsibilities:</h3>
                <ul>
                    <li>
                        Responsible for establishing uniformly high production and quality standards for programming and software development projects.
                    </li>
                    <li>
                        Act as the senior contact for IT, software, hardware, and related solutions.
                    </li>
                    <li>
                        Coordination with proworking members for the satisfactory delivery of all technical solutions (Mobile/Web) and client satisfaction.
                    </li>
                    <li>
                        Assist with establishment of project teams, complete software documentation and develop detailed architecture and work tasks to support technical solutions
                    </li>
                    <li>
                        Develop integration path of software tools to be utilized in both customer-facing and backend reporting for proworking sites.
                    </li>
                    <li>
                        Keeping confidential materials of the firm secure; discloses information about the firm only when appropriate.
                    </li>
                    <li>
                        Teaming with the other members of the firm’s senior management to advance the general interests of the firm.
                    </li>
                    <li>
                        Application development tasks to include functional requirements analysis, systems/application architecture development, programming, quality control and unit testing, and internal code documentation.
                    </li>
                    <li>
                        Other duties and tasks as listed in enclosed performance review sheet.
                    </li>
                </ul>
                <h4 class="h6 pt-2">Requirements:</h4>
                <ul>
                    <li>
                        5-8 years of experience developing custom tools and applications, including:
                        <ul>
                            <li>
                                programming in .Net, HTML 5, Javascript, and Python
                            </li>
                        </ul>
                    </li>
                    <li>
                        SRI Suite of software (ArcGIS Desktop, ArcGIS Pro, ArcGIS Server, ArcGIS Portal, ArcGIS Online)
                    </li>
                    <li>
                        SQL Server, Database Design, Data Validation, Metadata
                    </li>
                    <li>
                        Developing applications for deployment within the Amazon cloud environment
                    </li>
                    <li>
                        Creating custom widgets using the ArcGIS Javascript API
                    </li>
                    <li>
                        Creating custom connectors within the ARC GIS GeoEvent Processor
                    </li>
                    <li>
                        Using GIS to develop and enhance a situational awareness picture, including: gathering, analyzing and validating various types of information pertinent to an incident, event or exercise to support hazard prediction, assessments and impacts.
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Application Information</h5>
                        <p>To apply for this position, please send a resume and cover letter to: <a href=":mailto:info@5th-floor.com">info@5th-floor.com</a></p>
                    </div>
                </div>
                <p class="pt-4"><NavLink href="" class="btn btn-link disabled" role="button" aria-disabled="true">Next Position</NavLink></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <em><small class="justify">Fifth Floor Program Management, LLC is an Equal Opportunity Employer that does not discriminate on the basis of race, color, religion, gender, national origin, age, military service eligibility, veteran status, sexual orientation, marital status, disability, or any other protected class.</small></em>
            </div>
        </div>
    </div>
</section>

@code {

}
