<nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="images/t5f-logo.png" alt="The Fifth Floor"></a>
    </div>
</nav>

@code {

}
