<nav class="navbar navbar-expand-lg navbar-light navbar-toggleable-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img id="main-logo" src="images/t5f-logo-white.svg" alt="The Fifth Floor"></a>
    </div>
</nav>

@code {

}
